@tailwind base;

.bg-gradient-purple-pink {
  background: #44337a;
  background: linear-gradient(90deg, #44337a 0%, #b83280 100%);
}

.bg-gradient-pink-purple {
  background: #44337a;
  background: linear-gradient(90deg, #b83280 0%, #44337a 100%);
}

.fullscreen-search-card {
  background-color: rgba(255, 255, 255, 0.3);
}

.placeholder-item {
  position: relative;
  overflow: hidden;
}

.placeholder-item::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(137, 118, 197, 0.05) 40%,
    rgba(68, 51, 122, 0.05) 70%,
    transparent 100%
  );
  animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}
@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

@tailwind components;
@tailwind utilities;
